## If-else

In [11]:

digit =int(input("Enter digit : "))
if digit > 0:
    print("Digit is positive")
elif digit==0:
    print("Digit is zero")
else:
    print("Digit is negative")

Enter digit : 10
Digit is positive

### wap that the takes two number as input form the user and also asks which arithmetic operation they need to perform on them(+,-,*,/). and prints the result according to their chocie (use if-elif-else)

In [12]:

    num1 = int(input("Enter 1st number : "))
    num2 = int(input("Enter 2nd number : "))
    op = input("Enter operation(+,-,*,/) : ")

    if op=='+':
         print(num1+num2)
    elif op=='-':
        print(num1-num2)
    elif op=='*':
        print(num1*num2)
    elif op=='/':
        print(num1/num2)
    else:
        print("Please enter correct operation or digits")

Enter 1st number : 01
Enter 2nd number : 01
Enter operation(+,-,*,/) : =
Please enter correct operation or digits

# For loop
##### for val in sequence: 
        loop body

In [21]:
# sum of element in list
ls = [1,3,5,7,8,10,34]
sum=0
for n in ls:
    sum=sum+n
print(sum)

68

In [26]:
# print character of string
st = "hello"
for n in st:
    print(n)

h
e
l
l
o

In [33]:
# iterate using range function
for i in range(3):  
    # i = 0,1,2
    print("hll",i)

hll 0
hll 1
hll 2

In [34]:
for i in range(1,3):
    print(i,"hello")

1 hello
2 hello

In [36]:
for i in range(1,7,2):
    print(i,"hello")

1 hello
3 hello
5 hello

In [41]:
ls = []
for i in range(10):
    ls.append(i)
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
ls =list(range(20))

In [47]:
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [52]:
names = ["a","b","c"]
for i in range(len(names)):
    print("student whose roll no :" ,i+1,"is",names[i])

student whose roll no : 1 is a
student whose roll no : 2 is b
student whose roll no : 3 is c

## While LOOP

In [2]:
mylist = ["apple", "banana", "cherry"]
i=0
while i<len(mylist):
    print(mylist[i])
    i+=1

apple
banana
cherry

In [10]:
n = int(input("Ente number : "))
sum=0;
i=n;
# print(int(n*(n+1)/2))
while i>=0:
    sum+=i
    i=i-1;
print(sum)

Ente number : 100
5050

# wap to separate negative and positive number in list and store in different list

In [13]:
Ls = [12,13,-4,0,-10,-8,45]
positiveLs = []
negativeLs = []
for n in Ls:
    if n>=0:
        positiveLs.append(n)
    else:
        negativeLs.append(n)
print("positive List ",positiveLs)
print(" Negative list ",negativeLs)

positive List  [12, 13, 0, 45]
 Negative list  [-4, -10, -8]

### wap to fetch only even values from a dictionary

In [4]:
dit ={'k1':5,'k2':4,'k3':16,'k4':-8,'k5':-199}
ans  = []
for n in dit.values():
    if n%2==0 :
        ans.append(n)
print(ans)

[4, 16, -8]

# find factorial

In [9]:
n = int(input("Enter number : "))

if n<0:
    print("undefined")
else:
    fact =1
    i=n;
    while i>0:
        fact =fact*i
        i=i-1
    print(fact)

Enter number : 10
3628800


## Eexception - break ,continue

In [13]:
a =[5,3,12,7,89,10,42]
for n in a:
    if n%2==0:
        break;
    else:
        print(n)

5
3

In [14]:
for n in a:
    if n%2==0:
        continue
    else:
        print(n)

5
3
7
89

In [16]:
for ch in "hello":
    if ch=='l':
        break;
    else:
        print(ch)

h
e

In [17]:
for ch in "hello":
    if ch=='l':
        continue;
    else:
        print(ch)

h
e
o