In [4]:
def greet(name):
    print("welcome ",name)
    
    
    
name = input("Enter your name : ")
greet(name)

Enter your name : hello
welcome  hello

In [7]:
def add(n1,n2):
    print(n1+n2)
    
def sub(n1,n2):
    print(n1-n2)
def multi(n1,n2):
    print(n1*n2)
def div(n1,n2):
    print(n1/n2)

In [8]:
add(10,2)
multi(10,2)
sub(10,2)
div(10,2)

12
20
8
5.0

In [20]:
# return statement
def add(n1,n2):
    return (n1+n2)
    
def sub(n1,n2):
    return (n1-n2)
def multi(n1,n2):
    return (n1*n2)
def div(n1,n2):
    return (n1/n2)

# def com(n1,n2):
#     return n1>n2

In [21]:
x= add(10,2)
y = sub(20,8)
z = multi(x,y)
print(z)

144

In [67]:
# num=0 is default argument
def absolute(num=0):
    if num>=0:
        return num
    else:
        return (num*-1)

In [35]:
num = int(input("Enter number : "))
print("Absolute value is ",absolute(num))

Enter number : -10
Absolute value is  10

In [62]:
#greatest among three number 
def greatest(n1,n2,n3):
    return max(n1,n2,n3)

In [63]:
greatest(10,20,5)

20

In [64]:
def hello(name,msg):
    # docstring in python
    ''' name=your name
     msg= message you want to print '''
    print("Hi ",name)
    print(",",msg)
nm = "Rahul"
msg="Good night"
hello(nm,msg)

Hi  Rahul
, Good night

In [71]:
# keyword arguments
hello(msg=msg,name=nm)

Hi  Rahul
, Good night

In [72]:
help(hello)

Help on function hello in module __main__:

hello(name, msg)
    name=your name
    msg= message you want to print

In [73]:
# default argument
# if default argument declare then  all argument right side it must also default
def hello(name="Rahul",msg):
    print(name,msg)

SyntaxError: non-default argument follows default argument (3122815097.py, line 3)

In [9]:
# arbitrary arguments
def greeting(*names):
    for name in names:
        print("welcome",name)

In [17]:

greeting("rahul","rakesh","mehul")

welcome rahul
welcome rakesh
welcome mehul

In [25]:
# wap using function which takes in a string and some integers 
# as an input and return the reversed string as it first output
# and sorts the inputed in integers in ascending order
def reverseAndSort(string,*n):
    return string[::-1],sorted(n)

In [26]:
reverseAndSort("hello",10,4,25,32,11,5,3)

('olleh', [3, 4, 5, 10, 11, 25, 32])

In [45]:
# student status function 
# argument== name,rollno
# operation:- i) if rollno present then true and return details
         # ii) it should return the marks obtained by student in last 3 test
    #iii) grade


rollMarks = {1:[70,80,65],2:[100,90,89],3:[78,88,86],4:[90,60,78],5:[45,32,23]}

def student_status(name,rollNo):
    present=False

    if rollNo in rollMarks.keys():
        present=True
        marks= rollMarks.get(rollNo)
    if present==False:
        return (name+" is absent in test")
    avg = sum(marks)/3;
    grade="F"
    if avg>=90:
        grade="S"
    elif avg>=80:
        grade="A"
    elif avg >=70:
        grade="B"
    elif avg >=60:
        grade="C"
    else:
        grade="F"
    return  (name+" is present in test"),marks,grade

In [48]:
student_status("rahul",5)

('rahul is present in test', [45, 32, 23], 'F')

True