* **Decision Tree is a Supervised learning technique that can be used for both classification and Regression problems, but mostly it is preferred for solving Classification problems. It is a tree-structured classifier, where internal nodes represent the features of a dataset, branches represent the decision rules and each leaf node represents the outcome.**

<img src='https://static.javatpoint.com/tutorial/machine-learning/images/decision-tree-classification-algorithm.png'>

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv(r"salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [39]:
ip= df.drop(['salary_more_then_100k'],axis=1)
target= pd.DataFrame(df.salary_more_then_100k)

**Change Categorical data into numerical data**

In [40]:
com_le = LabelEncoder()
job_le = LabelEncoder()
deg_le =LabelEncoder()

In [41]:
ip['com_le'] = com_le.fit_transform(ip.company)
ip['job_le']=job_le.fit_transform(ip.job)
ip['deg_le']=deg_le.fit_transform(ip.degree)
ip.head()

  company                  job     degree  com_le  job_le  deg_le
0  google      sales executive  bachelors       2       2       0
1  google      sales executive    masters       2       2       1
2  google     business manager  bachelors       2       0       0
3  google     business manager    masters       2       0       1
4  google  computer programmer  bachelors       2       1       0

In [42]:
ip.drop(['company','job','degree'],axis=1,inplace=True)

In [43]:
ip

    com_le  job_le  deg_le
0        2       2       0
1        2       2       1
2        2       0       0
3        2       0       1
4        2       1       0
5        2       1       1
6        0       2       1
7        0       1       0
8        0       0       0
9        0       0       1
10       1       2       0
11       1       2       1
12       1       0       0
13       1       0       1
14       1       1       0
15       1       1       1

In [44]:
model =DecisionTreeClassifier()

In [45]:
model.fit(ip,target)

DecisionTreeClassifier()

In [46]:
model.predict([[2,0,1]])

C:\Users\RAHUL SUTHAR\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [47]:
model.score(ip[13:],target[13:])

1.0

In [48]:
model.predict(ip[13:])

array([1, 1, 1], dtype=int64)

In [49]:
model.score([[1,0,1]],[0])

C:\Users\RAHUL SUTHAR\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

0.0