## Problem statement -  
This file below contains hiring statistics for a firm such as the candidate’s age,experience,gender. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for the HR department that can help them decide salaries for future candidates. 
Also build a ML model that predicts candidates to greater than or less than the median salary given their age,gender and experience.

In [1]:
import pandas  as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [2]:
df=pd.read_csv(r"Employee_Salary_Dataset.csv",index_col="ID")

df.head()

    Experience_Years  Age  Gender  Salary
ID
1                  5   28  Female  250000
2                  1   21    Male   50000
3                  3   23  Female  170000
4                  2   22    Male   25000
5                  1   17    Male   10000

In [3]:
df.shape

(35, 4)

In [4]:
df.replace({'Male':1,"Female":0},inplace=True)

In [5]:
new_df =df.copy()
new_df.head()

    Experience_Years  Age  Gender  Salary
ID
1                  5   28       0  250000
2                  1   21       1   50000
3                  3   23       0  170000
4                  2   22       1   25000
5                  1   17       1   10000

In [6]:
x_train,x_test,y_train,y_test = train_test_split(new_df.drop(['Salary'],axis=1),new_df.Salary,test_size=0.2,random_state=100)

In [7]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [8]:
model.predict(x_test)

array([4308388.44238644, 4843849.74265225, 5103704.60210321,
       7158554.81044622,  477878.20866115, 3415269.56926931,
        619178.41842162])

In [9]:
y_test

ID
34    9300000
35    7600000
32     900000
6     5001000
2       50000
14     220100
19      15000
Name: Salary, dtype: int64

In [10]:
model.score(x_train,y_train)

0.48706490613841724

In [11]:
model.score(x_test,y_test)

0.30204369622378835

In [12]:
df['Salary'].median()

250000.0

In [13]:
df['greater than median ']=0

In [14]:
for i in range(len(df)):
    if (df['Salary'].iloc[i] > df['Salary'].median()):
        df['greater than median '].iloc[i]=1

In [15]:
df.head()

    Experience_Years  Age  Gender  Salary  greater than median
ID
1                  5   28       0  250000                     0
2                  1   21       1   50000                     0
3                  3   23       0  170000                     0
4                  2   22       1   25000                     0
5                  1   17       1   10000                     0

In [16]:
X = df.drop(['greater than median ','Salary'],axis=1)
y=df['greater than median ']

In [17]:
model2 = LogisticRegression()

In [22]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=20)

In [23]:
model2.fit(x_train,y_train)

LogisticRegression()

In [24]:
model2.score(x_test,y_test)

0.8571428571428571

In [25]:
model2.score(x_train,y_train)

0.8214285714285714